<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RFC5322 - The Fun Begins</title>
</head>
<body>
    <h1>RFC5322 - The Fun Begins</h1>
    <p>Here's a fun little RFC, <a href="https://www.rfc-editor.org/rfc/rfc5322.html">RFC5322</a>.<br>
    Wouldn't it be a shame if you used an RFC5322 email validation library and trust that it doesn't come back to haunt you?<br>
    Try a reflected XSS under <a href="/xss?email=somebody@example.com">/xss?email=somebody@example.com</a></p>
</body>
</html>
